 body {
  font-family: 'Montserrat', sans-serif;
 }

 .navbar{
  width: 100%;
  text-indent: 5px;
  border-bottom: 1px solid black;
 }

 .aboutMeSection{

 }

 .aboutMe{
  text-align: center;
  text-indent: 50px;
 }

 .mainAstro{
  float: left;
  height: 140px;
  width: 140px;
  margin-right: 7px;
 }

 .bioSection{
/*  text-indent: 5px;*/
    margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 1rem;
 }

 .bioText{
  text-decoration: bold;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 200px;
 }

 /*Astrology side */
 .pics{
  opacity: 0.7;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 p astroParagraph {
  float: left;
 }

  /*Music side */

/*FOOTER */

 .page-footer{
  border-top: 1px solid black;
/*  padding-top: 1rem;*/
  padding-bottom: 1rem;
/*  text-align: center;*/
 }

 .social-media{
  display: inline;
  padding: 0 10px;
 }

 .btn-social{
  height: 45px;
  width: 45px;
}

 .btn-social-icon{
  height: 45px;
  width: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 ion-icon {
  font-size: 24px;
}

a.btn{
  height: 44px;
  width: 50px;
}

a.btn .fa-etsy{
  margin-top: 1px;
}
 .btn-twitter{
  background: #55ACEE;
 }

 .logo-etsy:before{
/*  content: "\0045";
  font-family: georgia, serif;*/

 }

 .fa-etsy:before{
    content: "\0045";
  font-family: georgia, serif;
   font-size: 24px;
 }

/* .fa-twitter:before{
  content: "\f099";
 }
*/

 .footer-copyright{
  text-align: center;
 }